@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #424D83;
}

.nav-li{
    text-decoration: none;
    color: #C7C1DB;
    padding: 8px 0px;
    margin: 0 15px;
    font-size: 18px;
    transition: border-bottom 1s;
}
.nav-li:hover{
    color:aliceblue;
    border-bottom: 2px solid rgb(209, 199, 199);
}

.nav-li.sign-up{
    padding: 5px 25px;
    border: 2px solid green;
    background: rgb(112, 148, 160);
    border-radius: 40px;
    
}